#div1 {
    width: 1200px; height:1200px;
    border:1px solid;
    background-repeat: no-repeat;
    background-size: 1200px 1200px; /*가로, 세로*/
    background-position: 300px 200px; /*위, 왼*/
    background-image: url("html/일론.png");
    /*
    background: url("이미지") no-repeat 200px 200px / 100px 100px
    */
}
#div1:hover{
    background-image: url("");
    color:red
}
#div1 div {width:50px;height:50px;}