#div2{ width: 300px; border: 1px solid; display: flex;}
#div2 > div{ width: 150px; border: 1px solid greenyellow; }

#div2 > :nth-of-type(2) {
    display: flex;
    & div { width: 50%; border: 1px solid; }
}

#div1 {
    display:flex;
    width: 300px; background-color: gray;}
#div1 div {width:100px;}

#div1 :nth-of-type(1){background-color: aqua}
#div1 :nth-of-type(2){background-color: blue}
#div1 :nth-of-type(3){background-color: brown}

