#nav { width: 400px; background-color: gold;}
#menu { background-color: green;}
.menu1 {
    background-color: skyblue;
    height:0 ; overflow: hidden;
    transition: 0.5s;
}
#menu li:hover .menu1 { height: 120px;}
li { width: 100px; list-style: none;
    text-align: center ; height: 40px; line-height: 40px;
}
ul { margin: 0; padding: 0;}

#div1 { width: 100px; height: 100px; background: gold;
    transition: 1s; transition-delay: 1s;
}
#div1:hover { width: 300px; background-color: red; }