#div1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#div1 { position:relative;
}
/*
#div2 {
    position: absolute;
    top: 0;
    left: 10;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 120px;
}*/

#div1 {
    margin: 200px; transform: rotate(5deg);
}

#img { width: 100px; height: 100px;
    transition: 1s;
}
#div1:hover > img{
        transform: scale(4) rotate(720deg);
}
#div1:hover ~ #div2 {
    margin-top: 0;
    color: navy;
    transition: 0.5s;
}
#div2{
    font-size: 30px;
    transition: 1s;
    width: 100px; text-align: center;
    margin-top: -70px; color: white;
}