body{
    border:3px solid black;
    padding: 15px;
    width:220px;
    text-align:center;
    background-color:white;
}

body > div > h1 {border: 1px dashed lawngreen;border-radius: 200px; overflow: hidden;}
body > div > h1 {width: 200px; height: 200px;}

body > div > div > div:nth-child(1) img {width: 200px; height: 200px; object-fit:cover;}

.item {
    border: 1px solid #000000;
    padding: 8px;
    width:200px;
    text-align: center;
}
