#wrap {background-color: bisque; width: 400px; margin: 0 auto; }

#wrap > :nth-of-type(1) { background-color: chartreuse}
#wrap > :nth-of-type(2) {
    display: flex;
    height: 100px; background-color: chocolate;
    & > :nth-of-type(1) { width: 30%; background-color: yellow; }
    & > :nth-of-type(2) { width: 30%; background-color: pink; }
    & > :nth-of-type(4) { width: 40%; background-color: yellow; }
}
#wrap > :nth-of-type(3) { background-color: pink}

