* {margin: 0; padding: 0;}
#header { width: 700px; height: 100px; background-color: cadetblue;
    display: flex;
}
#title_logo { background-color: aquamarine; width: 100px;
    background-image: url(일론.png);
    background-size: cover;
    border-radius: 100px;
}
#nav { 
    display: flex;
    background-color: bisque;
    width: 600px;
    justify-content: space-between;
}
#nav ul { list-style: none;
    background-color:cadetblue;
    display: flex;
    align-items: center;
}
#nav ul li { border: 1px solid; background-color: red;
    margin: 0 10px;
}
#nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    &:hover{
        color: olive;
        border-bottom: 5px solid blueviolet;
        transition: 0.25s;
    }
}
#nav ul:nth-child(2) a {font-size: 13px; color: lightgray;}


